*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("bg6.avif");
    background-size: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container {
   
    background-color: white;
    padding: 20px;
    padding-right: 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url(bg2.jpeg);
    background-size: cover;
}

.login-container h1 {
    margin-bottom: 20px;
    color: rgb(226, 0, 0);
    font-family: serif;
    font-size: 35px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.captcha-container {
    margin: 20px 0;
    color: black;
}

.captcha {
    background-color: #ddd;
    
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}
